@charset "utf-8";
@media screen and (min-width: 1024px) and (max-width:1440px) {
    
    

    body{
        background-color: lightskyblue;
        position: absolute;
        overflow-x: hidden;
    }

    header{
        background-color: rgba(0, 0, 255, 0.226);
        color: white;
        width: 98.9vw;
    }

    a{
        color: white;
    }


    main{
        width: 60vw;
        margin: auto;
    }

    main >h2{
        color: rgba(1, 21, 107, 0.575);
    }


    footer{
        background-color: rgba(0, 0, 255, 0.199);
        color: white;
        width: 98.9vw;
    }
    }
