@charset "utf-8";
@media screen and (min-width: 1440px) and (max-width:1680px) {

    
    
    body{
        background-color: lightcoral;
    }

    header{
        background-color: rgba(255, 0, 0, 0.692);
        color: white;
        width: 98.9vw;

    }

    a{
        color: white;
    }


    main{
        width: 60vw;
        margin: auto;
    }

    main >h2{
        color: rgba(255, 0, 0, 0.836);
    }


    footer{
        background-color: rgba(255, 0, 0, 0.699);
        color: white;
        width: 98.9vw;
    }
    }
