@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgrey;
    overflow-x: hidden;

}

header{
    background-color: darkgrey;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.808);
}

header >h1{
    padding: 10px;
}

nav{
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
}

main{
    background-color: white;
    font-size: 1.3em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.808);
    margin: 40px;
    flex: 1; /* ocupa o espaço restante, empurrando o footer pra baixo */

}

main >p{
    margin: 20px;
    text-align: justify;
    text-indent: 40px;
    padding: 10px;
    padding-bottom: 20px;
}

main >h2{
    padding: 30px;
    text-align: center;
    font-weight: bold;
}

footer{
    background-color: darkgray;
    margin-top: 70px;
    bottom: 0px;
    left: 0px;
    width: 100vw;
}

footer >p{
    padding: 10px;
    font-size: 1.3em;
    text-align: center;

}


  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ocupa toda a altura da tela */
  }

    
  footer {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }